@charset "UTF-8";
:root {
  --font-color: #000;
  --main-color: #005864;
  --sub-color: #E6E6E6;
  --text-color: #2c2c2c;
  --body-color: #FDFDFD;
  --hover-gl: rgba(0, 88, 100, 0.8);
  --hover-bk: rgb(189, 189, 189);
}

.lineAnimation {
  position: relative;
}
.lineAnimation.isActive::after {
  width: 100%;
}
.lineAnimation::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -0.3rem;
  transform: translateX(-50%);
  width: 0%;
  height: 4px;
  background: var(--main-color);
  transition: all 1s;
}

.uLine-text {
  position: relative;
}
.uLine-text::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -0.1rem;
  width: 0%;
  height: 2px;
  background: var(--main-color);
  transition: all 1s;
}

.uLineAnimation:hover .uLine-text:after {
  width: 100%;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  transition-duration: 0.5s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.hvr-rectangle-out {
  display: inline-block;
  vertical-align: middle;
  transform: perspective(1px) translateZ(0);
  position: relative;
  background: #e1e1e1;
  transition-property: color;
  transition-duration: 0.5s;
}

.hvr-rectangle-out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(ellipse at center, rgb(96, 171, 248) 0%, rgb(155, 201, 247) 28%, rgb(155, 201, 247) 18%, rgba(255, 255, 255, 0) 70%);
  transform: scale(0);
  transition-property: transform;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
}

.hvr-rectangle-out:hover:before,
.hvr-rectangle-out:focus:before,
.hvr-rectangle-out:active:before {
  transform: scale(1);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ------- slide ------- */
.slider {
  visibility: visible !important;
  opacity: 1 !important;
  width: 100%;
  top: 0;
  left: 0;
}
.slider img {
  width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
html body {
  color: var(--text-color);
  background-color: var(--body-color);
  font-family: "Noto Sans JP", sans-serif;
  max-width: 100%;
  word-break: break-all;
}
html body section {
  margin-bottom: 200px;
}
@media screen and (max-width: 768px) {
  html body section {
    margin-bottom: 60px;
  }
}
html body h1 {
  font-size: clamp(28px, 5vw, 64px);
  letter-spacing: 0.1em;
}
html body h2 {
  font-size: clamp(17px, 3.5vw, 48px);
  letter-spacing: 0.1em;
  margin-bottom: 75px;
}
@media screen and (max-width: 768px) {
  html body h2 {
    margin-bottom: 20px;
  }
}
html body h3 {
  font-size: clamp(13px, 1.8vw, 36px);
  letter-spacing: 0.1em;
}
html body h4 {
  font-size: clamp(12px, 1.5vw, 27px);
  letter-spacing: 0.1em;
}
html body p {
  font-size: clamp(12px, 1.3vw, 24px);
  letter-spacing: 0.1em;
  line-height: 2em;
}
html body a {
  text-decoration: none;
  color: var(--text-color);
}
html body img {
  display: block;
  max-width: 100%;
}
html body svg {
  max-width: 100%;
}
html body ul {
  list-style: none;
}

.mv {
  width: 100%;
  max-width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  align-items: center;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .mv {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
}
.mv .mv-text {
  z-index: 100;
  max-width: 100%;
  grid-column: 1/5;
  grid-row: 2;
  color: var(--body-color);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 768px) {
  .mv .mv-text {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
  .mv .mv-text span:first-of-type {
    display: inline-block;
    width: 50%;
    grid-column: 1;
    grid-row: 1;
    position: relative;
    left: 45%;
  }
  .mv .mv-text span:last-of-type {
    grid-column: 1;
    grid-row: 2;
    font-size: 2rem;
  }
}
.mv .mv-text svg {
  width: 25%;
  max-width: 100%;
  margin: 0 15px;
}
@media screen and (max-width: 768px) {
  .mv .mv-text svg {
    width: 40%;
    grid-column: 1;
    grid-row: 1;
  }
}
.mv .mv-area {
  width: 100%;
  max-width: 100%;
  grid-column: 1/5;
  grid-row: 1/4;
  overflow-x: hidden;
}
@media screen and (max-width: 768px) {
  .mv .mv-area {
    display: none;
  }
}
.mv .mv-area .mv-item {
  width: 100%;
}
.mv .sp-mv-area {
  display: none;
}
@media screen and (max-width: 768px) {
  .mv .sp-mv-area {
    display: block;
    width: 100%;
    max-width: 100%;
    grid-column: 1/5;
    grid-row: 1/4;
    overflow-x: hidden;
    grid-column: 1;
  }
  .mv .sp-mv-area .mv-item {
    width: 100%;
  }
}
.mv .slider > .mv-item:not(:first-child) {
  display: none;
}

.introduction-section {
  width: 100%;
  text-align: center;
  margin: 100px auto 200px;
  overflow: hidden;
}
@media screen and (max-width: 768px) {
  .introduction-section {
    margin: 30px auto 60px;
  }
}
.introduction-section h2 {
  display: inline-block;
}
.introduction-section .introduction-container {
  height: 100%;
  padding: 0 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 3fr;
  row-gap: 10%;
}
@media screen and (max-width: 768px) {
  .introduction-section .introduction-container {
    grid-template-rows: 1fr 1.5fr;
    row-gap: 5%;
    padding: 0 3%;
  }
}
.introduction-section .introduction-container p {
  grid-column: 1;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .introduction-section .introduction-container p span::before {
    content: "\a";
    white-space: pre;
  }
}
.introduction-section .introduction-container .introduction-content {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr;
  background-image: url("../img/KidsWeekendSteelGreySideViewLeftTransparentWithShadow.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(253, 253, 253, 0.4);
  background-blend-mode: lighten;
  grid-column: 1;
  grid-row: 2;
  height: 100%;
  place-items: center;
}
@media screen and (max-width: 768px) {
  .introduction-section .introduction-container .introduction-content {
    grid-template-rows: 1fr 3fr;
  }
}
.introduction-section .introduction-container .introduction-content p {
  grid-column: 1;
  grid-row: 1;
}
.introduction-section .introduction-container .introduction-content p:last-of-type {
  grid-column: 1;
  grid-row: 2;
  position: relative;
  top: -15%;
}

.feature-section {
  text-align: center;
  overflow: hidden;
}

.feature-container {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 0.1fr 0.3fr 0.25fr 1fr;
  text-align: left;
  padding: 0 5%;
  margin-bottom: 10%;
}
@media screen and (max-width: 768px) {
  .feature-container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 0 3%;
  }
}
.feature-container .feature-content {
  grid-column: 1/4;
  grid-row: 2;
}
@media screen and (max-width: 768px) {
  .feature-container .feature-content {
    grid-column: 1/3;
    grid-row: 1;
  }
}
.feature-container .feature-content h3 {
  margin-bottom: 3%;
}
.feature-container .feature-content p {
  margin-bottom: 5%;
}
.feature-container img:first-of-type {
  grid-column: 1/3;
  grid-row: 4;
  width: 80%;
  object-fit: cover;
}
@media screen and (max-width: 768px) {
  .feature-container img:first-of-type {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
  }
}
.feature-container img:last-of-type {
  margin-left: 5%;
  grid-column: 3;
  grid-row: 1/4;
}
@media screen and (max-width: 768px) {
  .feature-container img:last-of-type {
    margin-left: 10%;
    grid-column: 2;
    grid-row: 2/3;
    width: 80%;
  }
}

.feature-container:last-of-type {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 1fr auto;
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }
}
.feature-container:last-of-type .feature-content {
  display: grid;
  grid-column: 2;
  grid-row: 1;
  grid-template-columns: 0.1fr 1fr 0.1fr;
  grid-template-rows: auto 1fr;
  place-items: center;
  gap: 5% 0;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .feature-content {
    grid-column: 3/5;
    grid-row: 1/3;
    grid-template-columns: 1fr;
    gap: 1% 0;
    place-items: normal;
  }
}
.feature-container:last-of-type .feature-content h3 {
  grid-column: 2;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .feature-content h3 span::before {
    content: "\a";
    white-space: pre;
  }
}
.feature-container:last-of-type .feature-content .content-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  grid-column: 2/3;
  grid-row: 2;
  gap: 25% 0;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .feature-content .content-text {
    gap: 0;
  }
}
.feature-container:last-of-type .feature-content .content-text li {
  display: grid;
  grid-template-columns: 0.1fr 0.1fr 0.7fr;
  grid-template-rows: 0.1fr 1fr;
  align-items: center;
}
.feature-container:last-of-type .feature-content .content-text li img {
  grid-column: 1/3;
  grid-row: 1/3;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .feature-content .content-text li img {
    grid-column: 1/3;
    grid-row: 1/2;
    padding: 3px;
  }
}
.feature-container:last-of-type .feature-content .content-text li h4 {
  grid-column: 3;
  grid-row: 1;
}
.feature-container:last-of-type .feature-content .content-text li p {
  grid-column: 3;
  grid-row: 2;
  letter-spacing: 0.1em;
  line-height: 1.5em;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .feature-content .content-text li p {
    grid-column: 1/4;
  }
}
.feature-container:last-of-type .img-container {
  display: grid;
  grid-column: 1;
  grid-row: 1/4;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.1fr 1fr;
  gap: 0 3%;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .img-container {
    grid-column: 1/3;
    grid-row: 1/4;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px 0;
  }
}
.feature-container:last-of-type .img-container .img-item {
  width: 100%;
  grid-column: 2;
  grid-row: 1/3;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .img-container .img-item {
    grid-column: 1/3;
    grid-row: 2;
    width: 85%;
  }
}
.feature-container:last-of-type .img-container .img-item:nth-of-type(2) {
  width: 100%;
  grid-column: 1;
  grid-row: 2;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .img-container .img-item:nth-of-type(2) {
    grid-column: 1/3;
    grid-row: 1;
    width: 85%;
  }
}
.feature-container:last-of-type .img-container .img-item:last-of-type {
  width: 100%;
  grid-column: 1/3;
  grid-row: 4;
  margin-left: 0;
}
@media screen and (max-width: 768px) {
  .feature-container:last-of-type .img-container .img-item:last-of-type {
    grid-column: 1/3;
    grid-row: 3;
  }
}

.technology-section {
  text-align: center;
}
.technology-section .technology-container {
  padding: 0 5%;
  text-align: left;
  display: grid;
  grid-template-columns: 1fr 0.1fr 1fr;
  grid-template-rows: 1fr 3.5fr 1fr;
  background-image: url(../img/Cityscape\ -\ Storm\ Black\ -\ Side\ View\ -\ Left\ -\ Transparent\ -\ With\ Shadow.png);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 768px) {
  .technology-section .technology-container {
    padding: 0 3%;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr auto auto;
    background-position: 50% 30%;
    gap: 20px 0;
  }
}
.technology-section .technology-container .technology-content {
  grid-column: 1/4;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .technology-section .technology-container .technology-content {
    grid-column: 1;
    grid-row: 1;
  }
}
.technology-section .technology-container .technology-content:nth-of-type(2) {
  grid-column: 1;
  grid-row: 3;
}
@media screen and (max-width: 768px) {
  .technology-section .technology-container .technology-content:nth-of-type(2) {
    grid-column: 1;
    grid-row: 3;
  }
}
.technology-section .technology-container .technology-content:last-of-type {
  grid-column: 3;
  grid-row: 3;
}
@media screen and (max-width: 768px) {
  .technology-section .technology-container .technology-content:last-of-type {
    grid-column: 1;
    grid-row: 4;
  }
}

.shoes-section {
  text-align: center;
}
.shoes-section .shoes-container {
  text-align: start;
  padding: 0 5%;
  width: 90%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container {
    padding: 0 3%;
  }
}
.shoes-section .shoes-container .container-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(8, 1fr);
  }
}
.shoes-section .shoes-container .container-item .container-item::before {
  content: "";
  padding-top: 100%;
  display: block;
}
.shoes-section .shoes-container .container-item li {
  position: relative;
  width: 100%;
  background-color: var(--sub-color);
  border: 1px solid var(--text-color);
}
.shoes-section .shoes-container .container-item li a {
  display: block;
}
.shoes-section .shoes-container .container-item li a p {
  width: 100%;
  max-width: 100%;
  font-weight: bold;
  font-size: clamp(13px, 1vw, 32px);
  line-height: 1.1em;
  position: absolute;
  padding: 10px;
  margin: 0;
  display: inline-block;
}
.shoes-section .shoes-container .container-item li a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.shoes-section .shoes-container .container-item .weekend {
  grid-column: 1/3;
  grid-row: 1/3;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .weekend {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
.shoes-section .shoes-container .container-item .weekend a p {
  line-height: 1.1em;
  font-size: clamp(30px, 3vw, 48px);
}
.shoes-section .shoes-container .container-item .altaHighTop {
  grid-column: 3;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .altaHighTop {
    grid-column: 1;
    grid-row: 3;
  }
}
.shoes-section .shoes-container .container-item .cityscapeClassic {
  grid-column: 3;
  grid-row: 2;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .cityscapeClassic {
    grid-column: 1;
    grid-row: 4;
  }
}
.shoes-section .shoes-container .container-item .boardwalk {
  grid-column: 4;
  grid-row: 1;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .boardwalk {
    grid-column: 2;
    grid-row: 3;
  }
}
.shoes-section .shoes-container .container-item .sundaySlippers {
  grid-column: 4;
  grid-row: 2;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .sundaySlippers {
    grid-column: 2;
    grid-row: 4;
  }
}
.shoes-section .shoes-container .container-item .StormburstHighTop {
  grid-column: 1;
  grid-row: 3;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .StormburstHighTop {
    grid-column: 1;
    grid-row: 7;
  }
}
.shoes-section .shoes-container .container-item .everydayMove {
  grid-column: 1;
  grid-row: 4;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .everydayMove {
    grid-column: 1;
    grid-row: 8;
  }
}
.shoes-section .shoes-container .container-item .everydayClassic {
  grid-column: 2;
  grid-row: 3;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .everydayClassic {
    grid-column: 2;
    grid-row: 7;
  }
}
.shoes-section .shoes-container .container-item .weekendChelsea {
  grid-column: 2;
  grid-row: 4;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .weekendChelsea {
    grid-column: 2;
    grid-row: 8;
  }
}
.shoes-section .shoes-container .container-item .sohoSneaker-NarrowFit {
  grid-column: 3/5;
  grid-row: 3/5;
}
@media screen and (max-width: 768px) {
  .shoes-section .shoes-container .container-item .sohoSneaker-NarrowFit {
    grid-column: 1/3;
    grid-row: 5/7;
  }
}
.shoes-section .shoes-container .container-item .sohoSneaker-NarrowFit a p {
  line-height: 1.1em;
  font-size: clamp(30px, 3vw, 48px);
}

.faq-section {
  text-align: center;
}

.accordion {
  max-width: 100%;
  position: relative;
  width: 90%;
  margin: 0 auto;
  padding: 0 5%;
  text-align: start;
}
@media screen and (max-width: 768px) {
  .accordion {
    padding: 0 3%;
  }
}
.accordion .accordion-item .accordion-title {
  cursor: pointer;
  padding: 20px 20px;
  border-bottom: 2px solid var(--text-color);
}
.accordion .accordion-item .accordion-content {
  display: none;
  padding: 30px 20px;
}

.accordion-title {
  position: relative;
}

.accordion-title::after {
  content: "";
  display: block;
  position: absolute;
  border-width: 0 25px 25px 0;
  border-style: solid;
  border-color: transparent var(--text-color);
  right: 25px;
  top: 38%;
  transform: rotate(-45deg);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}
@media screen and (max-width: 768px) {
  .accordion-title::after {
    border-width: 0 15px 15px 0;
  }
}

.accordion-title.open::after {
  top: 45%;
  transform: rotate(135deg);
}

.founders-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  width: 100%;
  margin: 100px 0;
  padding: 5%;
  text-align: center;
  background-image: url("../img/Founders_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(253, 253, 253, 0.4);
  background-blend-mode: lighten;
}
@media screen and (max-width: 768px) {
  .founders-section {
    margin: 30px 0;
    background-position: 45% 50%;
  }
}
.founders-section h2 {
  font-size: clamp(14px, 1.5vw, 24px);
}
@media screen and (max-width: 768px) {
  .founders-section h2 {
    margin: 20px;
  }
}
.founders-section P {
  line-height: 2.5em;
}
@media screen and (max-width: 768px) {
  .founders-section P {
    padding: 15px 5px;
  }
  .founders-section P span::before {
    content: "\a";
    white-space: pre;
  }
}

header .header-container {
  width: 100%;
  height: 80px;
  background-color: var(--sub-color);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}
@media screen and (max-width: 768px) {
  header .header-container {
    height: 65px;
  }
}
header .header-container a {
  display: inline-block;
  width: 20%;
  height: 100%;
  margin-left: -2%;
  margin-right: 50px;
}
@media screen and (max-width: 768px) {
  header .header-container a {
    width: 70%;
    margin-left: -5%;
  }
}
header .header-container a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.g-nav-bgc {
  position: fixed;
}
.g-nav-bgc.backGround {
  width: 100%;
  height: 100vh;
  z-index: 300;
  background-color: rgba(0, 0, 0, 0.8);
  transition: all 0.6s;
}

#g-nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 999;
  /*ナビのスタート位置と形状*/
  top: 0;
  right: -120%;
  width: 40%;
  height: 100vh;
  background: var(--sub-color);
  /*動き*/
  transition: all 0.6s;
}
@media screen and (max-width: 768px) {
  #g-nav {
    width: 100%;
    z-index: 400;
  }
}
#g-nav.panelactive {
  right: 0;
}
#g-nav .g-nav-list {
  display: flex;
  flex-direction: column;
  height: 60vh;
  font-size: 1.4em;
  justify-content: space-evenly;
}
#g-nav .g-nav-list li {
  text-align: center;
}
#g-nav .g-nav-list li a {
  padding: 10px;
  display: block;
  letter-spacing: 0.1em;
  font-weight: bold;
}
#g-nav .btn {
  color: var(--body-color);
  padding: 10px 20px;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: bold;
  border: 1px solid var(--main-color);
  background-color: var(--main-color);
  border-radius: 30px;
}
#g-nav .btn:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: var(--body-color);
  transition: all 0.6s;
}
#g-nav .sns-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 15vh;
  text-align: center;
}
@media screen and (max-width: 768px) {
  #g-nav .sns-container {
    height: 20%;
  }
}
#g-nav .sns-container p {
  width: 50%;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 0 5px;
  border-bottom: 1px solid var(--text-color);
}
@media screen and (max-width: 768px) {
  #g-nav .sns-container p {
    width: 60%;
  }
}
#g-nav .sns-container .sns-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: normal;
  gap: 15px;
  width: 50%;
  height: 20%;
  margin-top: 10px;
}
@media screen and (max-width: 768px) {
  #g-nav .sns-container .sns-icon {
    width: 60%;
  }
}
#g-nav .sns-container .sns-icon li {
  width: 100%;
}
#g-nav .sns-container .sns-icon li a {
  display: block;
  width: 100%;
  height: 100%;
}
#g-nav .sns-container .sns-icon li a svg {
  width: 120%;
  height: 100%;
  fill: var(--text-color);
}
#g-nav .sns-container .sns-icon li a svg:hover {
  fill: var(--hover-gl);
  transition: all 0.3s;
}

.nav-btn {
  position: fixed;
  z-index: 9999;
  /*ボタンを最前面に*/
  top: 10px;
  right: 5%;
  cursor: pointer;
  width: 50px;
  height: 50px;
}
.nav-btn span {
  display: inline-block;
  transition: all 0.4s;
  position: absolute;
  left: 14px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--main-color);
  width: 60%;
}
.nav-btn span:nth-of-type(1) {
  top: 15px;
}
.nav-btn span:nth-of-type(2) {
  top: 23px;
}
.nav-btn span:nth-of-type(3) {
  top: 31px;
}

.nav-btn.active span:nth-of-type(1) {
  top: 18px;
  left: 18px;
  transform: translateY(6px) rotate(-45deg);
  width: 60%;
}

.nav-btn.active span:nth-of-type(2) {
  opacity: 0;
}

.nav-btn.active span:nth-of-type(3) {
  top: 30px;
  left: 18px;
  transform: translateY(-6px) rotate(45deg);
  width: 60%;
}

footer {
  width: 100%;
  height: 250px;
  margin-bottom: 80px;
  background-color: var(--main-color);
  text-align: center;
  position: relative;
}
@media screen and (max-width: 768px) {
  footer {
    margin-bottom: 65px;
  }
}
footer img {
  height: 30%;
  width: 20%;
  object-fit: cover;
  margin: 0 auto;
  position: relative;
  top: 10%;
}
@media screen and (max-width: 768px) {
  footer img {
    width: 90%;
    top: 5%;
  }
}
footer .btn {
  grid-column: 2;
  grid-row: 2;
  color: var(--body-color);
  padding: 10px 20px;
  display: inline-block;
  letter-spacing: 0.1em;
  font-weight: bold;
  border: 1px solid var(--body-color);
  border-radius: 30px;
  margin: 1%;
  position: relative;
  top: 15%;
}
@media screen and (max-width: 768px) {
  footer .btn {
    margin: 5%;
    top: 5%;
  }
}
footer .btn:hover {
  color: var(--main-color);
  border: 1px solid var(--main-color);
  background-color: var(--body-color);
  transition: all 0.6s;
}
footer .sns-container {
  grid-column: 1;
  grid-row: 3;
  display: flex;
  flex-direction: column;
  justify-content: start;
  width: 30%;
  margin: 0 0 0 3%;
  height: 50%;
  position: absolute;
  top: 65%;
}
@media screen and (max-width: 768px) {
  footer .sns-container {
    width: 100%;
    margin: 0;
    align-items: center;
  }
}
footer .sns-container p {
  color: var(--body-color);
  width: 50%;
  font-weight: bold;
  letter-spacing: 0.1em;
  margin: 5px 0;
  border-bottom: 1px solid var(--body-color);
  text-align: left;
}
@media screen and (max-width: 768px) {
  footer .sns-container p {
    text-align: center;
    font-size: clamp(16px, 1.3vw, 24px);
  }
}
footer .sns-container .sns-icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
  width: 50%;
  height: 20%;
}
footer .sns-container .sns-icon li {
  width: 100%;
}
footer .sns-container .sns-icon li a {
  display: block;
  width: 100%;
  height: 100%;
}
footer .sns-container .sns-icon li a svg {
  width: 100%;
  height: 100%;
  object-fit: contain;
  fill: var(--body-color);
}
footer .sns-container .sns-icon li a svg:hover {
  fill: var(--hover-bk);
  transition: all 0.3s;
}

.top-btn .top-btn-container {
  width: 100%;
  height: 80px;
  max-width: 100%;
  background-color: var(--sub-color);
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 400;
  left: 0;
  bottom: 0;
}
@media screen and (max-width: 768px) {
  .top-btn .top-btn-container {
    height: 65px;
  }
}
.top-btn .top-btn-container a {
  display: block;
  width: 10%;
  height: 75%;
  margin: 0 auto;
}
@media screen and (max-width: 768px) {
  .top-btn .top-btn-container a {
    width: 20%;
  }
}
.top-btn .top-btn-container a img {
  width: 100%;
  height: 100%;
}/*# sourceMappingURL=style.css.map */