@charset 'utf-8';

@use './mixins' as *;
@use './variables';

// メインビジュアル
.mv {
    // margin-top: 80px;
    width: 100%;
    max-width: 100%;
    display: grid;
    // position: relative;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    align-items: center;
    text-align: center;

    @include mq {
        // height: 100vh;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, 1fr);
    }


    .mv-text {
        // position: absolute;
        // top: 50%;
        // left: 50%;
        // transform: translateY(-50%) translateX(-50%);
        // display: flex;
        // flex-direction: row;
        // justify-content: center;
        // align-items: center;
        // width: 100%;
        // height: 30%;
        z-index: 100;
        max-width: 100%;
        grid-column: 1/5;
        grid-row: 2;
        color: var(--body-color);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        @include mq {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(2, 1fr);


            span:first-of-type {
                display: inline-block;
                width: 50%;
                grid-column: 1;
                grid-row: 1;
                position: relative;
                left: 45%;
            }

            span:last-of-type {
                grid-column: 1;
                grid-row: 2;
                font-size: 2rem;
            }
        }

        svg {
            width: 25%;
            max-width: 100%;
            margin: 0 15px;

            @include mq {
                width: 40%;
                grid-column: 1;
                grid-row: 1;
            }
        }

    }

    .mv-area {
        width: 100%;
        max-width: 100%;
        grid-column: 1/5;
        grid-row: 1/4;
        overflow-x: hidden;

        @include mq {
            display: none;
        }

        .mv-item {
            width: 100%;
        }
    }

    .sp-mv-area {
        display: none;

        @include mq {
            display: block;
            width: 100%;
            max-width: 100%;
            grid-column: 1/5;
            grid-row: 1/4;
            overflow-x: hidden;
            // height: 100vh;
            grid-column: 1;

            .mv-item {
                width: 100%;
            }
        }
    }

    .slider>.mv-item:not(:first-child) {
        display: none;
    }
}

//////////////////////////
// introduction
.introduction-section {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-evenly;
    // align-items: center;
    // flex-basis: 50%;
    width: 100%;
    text-align: center;
    margin: 100px auto 200px;
    overflow: hidden;

    @include mq {
        margin: 30px auto 60px;
    }

    h2 {
        display: inline-block;
    }

    .introduction-container {
        height: 100%;
        padding: 0 5%;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 3fr;
        row-gap: 10%;

        @include mq {
            grid-template-rows: 1fr 1.5fr;
            row-gap: 5%;
            padding: 0 3%;
        }

        p {
            grid-column: 1;
            grid-row: 1;

            @include mq {
                span::before {
                    @include s-br;
                }
            }
        }

        .introduction-content {
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: space-evenly;
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 2fr;
            background-image: url("../img/KidsWeekendSteelGreySideViewLeftTransparentWithShadow.png");
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            background-color: rgba(253, 253, 253, 0.4);
            background-blend-mode: lighten;
            grid-column: 1;
            grid-row: 2;
            height: 100%;
            place-items: center;

            @include mq {
                grid-template-rows: 1fr 3fr;
            }

            p {
                grid-column: 1;
                grid-row: 1;
            }

            p:last-of-type {
                grid-column: 1;
                grid-row: 2;
                position: relative;
                top: -15%;
            }
        }
    }
}

//////////////////////////
// feature
.feature-section {
    text-align: center;
    overflow: hidden;
}

.feature-container {
    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 0.1fr 0.3fr 0.25fr 1fr;
    text-align: left;
    padding: 0 5%;
    margin-bottom: 10%;

    @include mq {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding: 0 3%;
    }

    .feature-content {
        grid-column: 1/4;
        grid-row: 2;

        @include mq {
            grid-column: 1/3;
            grid-row: 1;
        }

        h3 {
            margin-bottom: 3%;
        }

        p {
            margin-bottom: 5%;
        }
    }

    img:first-of-type {
        grid-column: 1/3;
        grid-row: 4;
        width: 80%;
        object-fit: cover;

        @include mq {
            grid-column: 1;
            grid-row: 2;
            width: 100%;
        }
    }

    img:last-of-type {
        margin-left: 5%;
        grid-column: 3;
        grid-row: 1/4;

        @include mq {
            margin-left: 10%;
            grid-column: 2;
            grid-row: 2/3;
            width: 80%;
        }
    }
}

.feature-container:last-of-type {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr auto;
    margin-bottom: 0;

    @include mq {
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
    }


    .feature-content {
        display: grid;
        grid-column: 2;
        grid-row: 1;
        grid-template-columns: 0.1fr 1fr 0.1fr;
        grid-template-rows: auto 1fr;
        place-items: center;
        gap: 5% 0;

        @include mq {
            grid-column: 3/5;
            grid-row: 1/3;
            grid-template-columns: 1fr;
            gap: 1% 0;
            place-items: normal;
        }

        h3 {
            grid-column: 2;
            grid-row: 1;

            @include mq {
                span::before {
                    @include s-br;
                }
            }
        }

        .content-text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            grid-column: 2/3;
            grid-row: 2;
            gap: 25% 0;

            @include mq {
                gap: 0;
            }

            li {
                display: grid;
                grid-template-columns: 0.1fr 0.1fr 0.7fr;
                grid-template-rows: 0.1fr 1fr;
                align-items: center;


                img {
                    grid-column: 1/3;
                    grid-row: 1/3;

                    @include mq {
                        grid-column: 1/3;
                        grid-row: 1/2;
                        padding: 3px;
                    }
                }

                h4 {
                    grid-column: 3;
                    grid-row: 1;
                }

                p {
                    grid-column: 3;
                    grid-row: 2;
                    letter-spacing: 0.1em;
                    line-height: 1.5em;

                    @include mq {
                        grid-column: 1/4;
                    }
                }
            }
        }
    }

    .img-container {
        display: grid;
        grid-column: 1;
        grid-row: 1/4;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.1fr 1fr;
        gap: 0 3%;

        @include mq {
            grid-column: 1/3;
            grid-row: 1/4;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            gap: 30px 0;
        }

        .img-item {
            width: 100%;
            grid-column: 2;
            grid-row: 1/3;

            @include mq {
                grid-column: 1/3;
                grid-row: 2;
                width: 85%;
            }
        }

        .img-item:nth-of-type(2) {
            width: 100%;
            grid-column: 1;
            grid-row: 2;

            @include mq {
                grid-column: 1/3;
                grid-row: 1;
                width: 85%;
            }
        }

        .img-item:last-of-type {
            width: 100%;
            grid-column: 1/3;
            grid-row: 4;
            margin-left: 0;

            @include mq {
                grid-column: 1/3;
                grid-row: 3;
            }
        }
    }
}


//////////////////////////
// technology
.technology-section {
    text-align: center;

    .technology-container {
        padding: 0 5%;
        text-align: left;
        display: grid;
        grid-template-columns: 1fr 0.1fr 1fr;
        grid-template-rows: 1fr 3.5fr 1fr;
        background-image: url(../img/Cityscape\ -\ Storm\ Black\ -\ Side\ View\ -\ Left\ -\ Transparent\ -\ With\ Shadow.png);
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @include mq {
            padding: 0 3%;
            grid-template-columns: 1fr;
            grid-template-rows: 1fr 1fr auto auto;
            background-position: 50% 30%;
            gap: 20px 0;
        }

        .technology-content {
            grid-column: 1/4;
            grid-row: 1;

            @include mq {
                grid-column: 1;
                grid-row: 1;
            }
        }

        .technology-content:nth-of-type(2) {
            grid-column: 1;
            grid-row: 3;

            @include mq {
                grid-column: 1;
                grid-row: 3;
            }
        }

        .technology-content:last-of-type {
            grid-column: 3;
            grid-row: 3;

            @include mq {
                grid-column: 1;
                grid-row: 4;
            }
        }
    }
}

//////////////////////////
// shoes
.shoes-section {
    text-align: center;

    .shoes-container {
        text-align: start;
        padding: 0 5%;
        width: 90%;
        margin: 0 auto;

        @include mq {
            padding: 0 3%;
        }


        .container-item {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(4, 1fr);

            @include mq {
                grid-template-columns: repeat(2, 1fr);
                grid-template-rows: repeat(8, 1fr);
            }

            .container-item::before {
                content: "";
                padding-top: 100%;
                display: block;
            }

            li {
                position: relative;
                width: 100%;
                background-color: var(--sub-color);
                border: 1px solid var(--text-color);

                a {
                    display: block;

                    p {
                        width: 100%;
                        max-width: 100%;
                        font-weight: bold;
                        font-size: clamp(13px, 1vw, 32px);
                        line-height: 1.1em;
                        position: absolute;
                        padding: 10px;
                        margin: 0;
                        display: inline-block;
                    }

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                    }
                }
            }

            .weekend {
                grid-column: 1/3;
                grid-row: 1/3;

                @include mq {
                    grid-column: 1/3;
                    grid-row: 1/3;
                }

                a {
                    p {
                        line-height: 1.1em;
                        font-size: clamp(30px, 3vw, 48px);
                    }
                }
            }


            .altaHighTop {
                grid-column: 3;
                grid-row: 1;

                @include mq {
                    grid-column: 1;
                    grid-row: 3;
                }
            }

            .cityscapeClassic {
                grid-column: 3;
                grid-row: 2;

                @include mq {
                    grid-column: 1;
                    grid-row: 4;
                }
            }

            .boardwalk {
                grid-column: 4;
                grid-row: 1;

                @include mq {
                    grid-column: 2;
                    grid-row: 3;
                }
            }

            .sundaySlippers {
                grid-column: 4;
                grid-row: 2;

                @include mq {
                    grid-column: 2;
                    grid-row: 4;
                }
            }

            .StormburstHighTop {
                grid-column: 1;
                grid-row: 3;

                @include mq {
                    grid-column: 1;
                    grid-row: 7;
                }
            }

            .everydayMove {
                grid-column: 1;
                grid-row: 4;

                @include mq {
                    grid-column: 1;
                    grid-row: 8;
                }
            }

            .everydayClassic {
                grid-column: 2;
                grid-row: 3;

                @include mq {
                    grid-column: 2;
                    grid-row: 7;
                }
            }

            .weekendChelsea {
                grid-column: 2;
                grid-row: 4;

                @include mq {
                    grid-column: 2;
                    grid-row: 8;
                }
            }

            .sohoSneaker-NarrowFit {
                grid-column: 3/5;
                grid-row: 3/5;

                @include mq {
                    grid-column: 1/3;
                    grid-row: 5/7;
                }

                a {
                    p {
                        line-height: 1.1em;
                        font-size: clamp(30px, 3vw, 48px);
                    }
                }
            }
        }
    }
}

//////////////////////////
// FAQ
.faq-section {
    text-align: center;
}

// アコーディオン
.accordion {
    max-width: 100%;
    position: relative;
    width: 90%;
    margin: 0 auto;
    padding: 0 5%;
    text-align: start;

    @include mq {
        padding: 0 3%;
    }

    .accordion-item {

        .accordion-title {
            cursor: pointer;
            padding: 20px 20px;
            border-bottom: 2px solid var(--text-color);
        }

        .accordion-content {
            display: none;
            padding: 30px 20px;
        }
    }
}

/////////////////////////////////
// アコーディオン：矢印
.accordion-title {
    position: relative;
}

.accordion-title::after {
    content: "";
    display: block;
    position: absolute;
    border-width: 0 25px 25px 0;
    border-style: solid;
    border-color: transparent var(--text-color);
    right: 25px;
    top: 38%;
    transform: rotate(-45deg);
    transition: transform .3s ease-in-out, top .3s ease-in-out;

    @include mq {
        border-width: 0 15px 15px 0;
    }
}

.accordion-title.open::after {
    top: 45%;
    transform: rotate(135deg);
}

/////////////////////////////////
// 創設者コメント
.founders-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 100%;
    // height: 100vh;
    margin: 100px 0;
    padding: 5%;
    text-align: center;
    background-image: url("../img/Founders_1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgba(253, 253, 253, 0.4);
    background-blend-mode: lighten;

    @include mq {
        margin: 30px 0;
        // height: 100%;
        background-position: 45% 50%;
    }

    h2 {
        font-size: clamp(14px, 1.5vw, 24px);
        margin-bottom: 5%;

        @include mq {
            margin: 20px;
        }
    }

    P {
        line-height: 2.5em;
        margin-bottom: 3%;

        @include mq {
            padding: 15px 5px;

            span::before {
                @include s-br;
            }
        }
    }
}

/////////////////////////////////