@charset 'utf-8';

:root {
    --font-color: #000;
    --main-color: #005864;
    --sub-color: #E6E6E6;
    --text-color: #2c2c2c;
    --body-color: #FDFDFD;
    --hover-gl: rgba(0, 88, 100, 0.8);
    --hover-bk: rgb(189, 189, 189);
}